/* FONTS ==================================*/

@font-face {
  font-family: "links";
  src: url("assets/fonts/links.ttf") format("truetype");
}

@font-face {
  font-family: "text";
  src: url("assets/fonts/texts.ttf") format("truetype");
}


/* GLOBAL STYLES ==================================*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: text, system-ui, sans-serif;
  line-height: 1.3;
  color: #2b2b2b;
}

html, body{
  scroll-snap-type: y proximity;
  scroll-behavior: smooth;
  scrollbar-width: none;
  scroll-behavior: smooth;
  user-select: none;
}

a {
  text-decoration: none;
  color: #5c5c5c;
  font-family: "links", serif;
  z-index: 10;
}

img, video {
  width: 100%;
}


/* LAYOUT ==================================*/

.grid-template {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  gap: 0.2rem;
}


/* ANIMATIONS ==================================*/

@keyframes smooth-appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-img-entry {
  animation: smooth-appear 1s ease-out both;
  animation-timeline: view();
  animation-range: entry 0% cover 35%;
}

@keyframes opacity{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}


/* HEADER ==================================*/

header {
  height: 100vh;
  width: 100%;
}


/* NAV ==================================*/

nav {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 10;

  align-items: center;

  height: 100vh;
  width: 100%;

  font-weight: 700;
  font-size: 1.5rem;
  mix-blend-mode: difference;
}

.nav-name {
  padding-left: 0.8rem;
  grid-column: 1 / span 2;
}

.nav-text {
  padding-right: 0.8rem;
  grid-column: 4 / span 6;
  transition: opacity 0.6s ease;
}

.hidden{
  opacity: 0;
  pointer-events: none;
}


/* MAIN CONTENT LAYOUT ==================================*/

.elements {
  width: 100%;
  row-gap: 70vh;
  font-size: 1rem;
}

main img, video, p{
  scroll-snap-align: start;
}


/* TEXT & DETAILS ==================================*/

.text-description {
  grid-column: 4 / span 6;
  padding: 1rem 0.8rem 1rem 0;
}

.details {
  grid-column: 1 / span 2;
  font-size: 0.7rem;
  font-weight: 400;
  padding: 1rem 0 1rem 0.8rem;
}


/* IMAGE SIZES ==================================*/

.large-image {
  grid-column: span 9;
}

.medium-image {
  grid-column: 4 / span 6;
}

.small-image {
  grid-column: 1 / span 3;
}

.align-3rd {
  grid-column: 3;
}


/* FOOTER ==================================*/

footer {
  height: 100vh;
  width: 100%;
  padding: 0.8rem;

  display: grid;
  align-content: end;
  grid-template-rows: max-content max-content;
}

footer p {
  font-size: 0.8rem;
  font-weight: 600;
  align-self: end;
  grid-column: 4 / span 4;
}

footer div {
  grid-area: 1 / 4 / span 1 / span 2;
  align-self: end;
}

footer a {
  font-family: text, system-ui, sans-serif;
  font-size: 0.8rem;
  font-weight: 600;
}


/* RESPONSIVE ==================================*/

@media only screen and (max-width: 800px) {
  body{
    scroll-snap-type: none;
  }

  .elements {
    row-gap: 1rem;
  }

  .large-image, .medium-image, .small-image {
    grid-column: 1 / span 9;
  }

  footer p {
    grid-column: 3 / span 6;
  }
}